@import 'tailwindcss';

:root {
    /* colors */
    --accent: rgb(94, 174, 122);
    /* --accent: rgb(153, 146, 16); */
    --background: rgb(255, 255, 255);
    --secondary-background: rgb(250, 250, 250);
    --accent-text: rgb(255, 255, 255);
    --text: rgb(15, 15, 15);
    --text-muted: rgb(100, 100, 100);
    --border: rgb(235, 235, 235);
    --hover: rgb(240, 240, 240);
    --active: rgb(94, 174, 122);
    --active-text: rgb(255, 255, 255);
    --danger: rgb(221, 45, 54);
    --danger-text: rgb(255, 255, 255);

    /* Border radius */
    --radius: 4px;

    /* Spacing */
    --spacing: 4px;

}

.dark {
    --background: #171717;
    --secondary-background: #262626;
    --text: #ffffff;
    --text-muted: #bebebe;
    --border: #3c3c3c;
    --hover: #353535;
    --danger: rgb(219, 61, 69);
    --danger-text: rgb(255, 255, 255);
}

@theme inline {
    --color-accent: var(--accent);
    --color-accent-text: var(--accent-text);
    --color-background: var(--background);
    --color-secondary-background: var(--secondary-background);
    --color-text: var(--text);
    --color-text-muted: var(--text-muted);
    --color-border: var(--border);
    --color-hover: var(--hover);
    --color-active: var(--active);
    --color-active-text: var(--active-text);
    --color-danger: var(--danger);
    --color-danger-text: var(--danger-text);

    --radius: var(--radius);
    --spacing: var(--spacing);
}

